body {
  margin: 50px 100px 0 100px;
  text-align: center;
  background-color: #33cccc;
  color: white;
  .content{
    background-color: #f2f2f2;
    width: 100%;
    padding: 10px;
    margin: 40px auto;
    text-align: center;
    border-radius: 10px;
    align-content: center;
  }
}

.btn-styles{
  border-radius: 10px;
  background-color: #33cccc;
  border:none;
}

.btn-normal{
  border-radius: 10px;
  background-color: white;
  border:2px solid #33cccc;
}
