.add-content{
    width: 100%;
    font-size: 30px;
    background-color: #33cccc;
    border-radius: 10px;
    .head-todo{
      padding: 5px;
      font-weight: bold;
    }
    .input-group{
      display: inline-block;
      margin: 10px 10px 20px 0;
      width: 60%;
      input{
        font-size: 12px;
      }
      .input{
        width: 100%;
        padding: 3px;
        border-style: none;
        border: 1px solid #33cccc;
        border-radius: 4px;
        border-style: none;
        &.title {
          height: 30px;
          margin-bottom: 10px;
        }
        &.description{
          height: 50px;
          overflow: scroll; 
        }
      }
    }
    .btn-enter{
      display: inline-block;
      vertical-align: top;
      margin-top: 16px;
      width: 15%;
      height: 103px;
      border-radius: 4px;
      background-color: #33cccc;
      border: 2px solid white;
      color: white;
      font-size: 16px;
    }
  }